.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #fff;
}

.form input[type="text"],
.form input[type="password"] {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.form input[type="submit"] {
  padding: 0.5rem;
  margin: 1rem 0;
  border: none;
  border-radius: 0.5rem;
  background-color: #3CB878;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: #0c8bff;
}

.brand {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.brand img {
  width: 150px;
  height: 150px;
}
